
<div class="row">
<div class="span9 column">
<div class="hero-unit">
<h1>Cat Mat!</h1>
<div>
<input class="btn primary large" id="send-button" type="button" value="New Cat"/>
</div>

<div id="kitten">
<h2>placeholder</h2>
<img class="kitten-image" src="http://placekitten.com/200/300" />
</div>
</div>
</div>

<div class="span7 column">
<div class="hero-unit">
    <h1>Cat Chat</h1>
    <div id="chatter" class="form-stacked">
        <input type='text' id='text-input' name='text-input' />
        <input type='submit' id='text-submit' class='btn large' />
    </div>
    <div id="cat-chat">
    </div>
</div>
</div>
</div>
