<h1><%= title %></h1>
<p>Welcome to <%= title %>
</p>
<p>This is an example of an embedded chat window added to any site.
<a id="chat" href="#">Chat with us</a>
</p>
<div id="floater" style="position: absolute; right: 0; top:0;" height="100%" width="25%">
</div>
