<!DOCTYPE html>
<html>
    <head>
        <title><%= title %>
        </title>
				<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
				<link rel="stylesheet" type="text/css" href="/impromptu/default.css" />
				<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js">
        </script>
        <script type="text/javascript" src="/nowjs/now.js">
        </script>
        <script type="text/javascript" src="/impromptu/jquery-impromptu.js">
        </script>
        <script type="text/javascript" src="/javascripts/<%= pagescript %>">
        </script>
    </head>
    <body>
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <h3><a href="#">Cat Mat</a></h3>
            </div>
        </div>
    </div>
    <div class="container">
				<%- body %>
    </div>
    </body>
</html>
